Client/Services/Web References/Charts/chartservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSpeciesList">
        <s:complexType />
      </s:element>
      <s:element name="GetSpeciesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpeciesListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabLatestSpeciesData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="species" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabLatestSpeciesDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GrabLatestSpeciesDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopAnimals">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tat" type="tns:OrganismType" />
            <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="OrganismType">
        <s:restriction base="s:string">
          <s:enumeration value="Carnivore" />
          <s:enumeration value="Herbivore" />
          <s:enumeration value="Plant" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetTopAnimalsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopAnimalsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSpeciesListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpeciesList" />
  </wsdl:message>
  <wsdl:message name="GetSpeciesListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpeciesListResponse" />
  </wsdl:message>
  <wsdl:message name="GrabLatestSpeciesDataSoapIn">
    <wsdl:part name="parameters" element="tns:GrabLatestSpeciesData" />
  </wsdl:message>
  <wsdl:message name="GrabLatestSpeciesDataSoapOut">
    <wsdl:part name="parameters" element="tns:GrabLatestSpeciesDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopAnimalsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopAnimals" />
  </wsdl:message>
  <wsdl:message name="GetTopAnimalsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopAnimalsResponse" />
  </wsdl:message>
  <wsdl:portType name="ChartServiceSoap">
    <wsdl:operation name="GetSpeciesList">
      <wsdl:input message="tns:GetSpeciesListSoapIn" />
      <wsdl:output message="tns:GetSpeciesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GrabLatestSpeciesData">
      <wsdl:input message="tns:GrabLatestSpeciesDataSoapIn" />
      <wsdl:output message="tns:GrabLatestSpeciesDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopAnimals">
      <wsdl:input message="tns:GetTopAnimalsSoapIn" />
      <wsdl:output message="tns:GetTopAnimalsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChartServiceSoap" type="tns:ChartServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSpeciesList">
      <soap:operation soapAction="http://tempuri.org/GetSpeciesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabLatestSpeciesData">
      <soap:operation soapAction="http://tempuri.org/GrabLatestSpeciesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopAnimals">
      <soap:operation soapAction="http://tempuri.org/GetTopAnimals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChartServiceSoap12" type="tns:ChartServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSpeciesList">
      <soap12:operation soapAction="http://tempuri.org/GetSpeciesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabLatestSpeciesData">
      <soap12:operation soapAction="http://tempuri.org/GrabLatestSpeciesData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopAnimals">
      <soap12:operation soapAction="http://tempuri.org/GetTopAnimals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChartService">
    <wsdl:port name="ChartServiceSoap" binding="tns:ChartServiceSoap">
      <soap:address location="http://localhost:56385/Website/charts/chartservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ChartServiceSoap12" binding="tns:ChartServiceSoap12">
      <soap12:address location="http://localhost:56385/Website/charts/chartservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>