Client/Services/Web References/Reporting/reportpopulation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ReportPopulation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="currentTick" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportPopulationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReportPopulationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportPopulationSoapIn">
    <wsdl:part name="parameters" element="tns:ReportPopulation" />
  </wsdl:message>
  <wsdl:message name="ReportPopulationSoapOut">
    <wsdl:part name="parameters" element="tns:ReportPopulationResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportingServiceSoap">
    <wsdl:operation name="ReportPopulation">
      <wsdl:input message="tns:ReportPopulationSoapIn" />
      <wsdl:output message="tns:ReportPopulationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportingServiceSoap" type="tns:ReportingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportPopulation">
      <soap:operation soapAction="http://tempuri.org/ReportPopulation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportingServiceSoap12" type="tns:ReportingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportPopulation">
      <soap12:operation soapAction="http://tempuri.org/ReportPopulation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingService">
    <wsdl:port name="ReportingServiceSoap" binding="tns:ReportingServiceSoap">
      <soap:address location="http://localhost:56385/Website/reporting/reportpopulation.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportingServiceSoap12" binding="tns:ReportingServiceSoap12">
      <soap12:address location="http://localhost:56385/Website/reporting/reportpopulation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>